asgiref==3.12.1
Django==5.2.16
djangorestframework==3.17.1
python-decouple==3.8
sqlparse==0.5.5
django-allauth==65.18.0
requests==2.34.2
PyJWT==2.13.0
cryptography==50.0.0
qrcode==8.2
razorpay==2.0.1
Pillow==11.3.0
beautifulsoup4==4.13.4
pypdf==6.10.0
langchain==0.3.27
langchain-community==0.3.27
langchain-huggingface==0.1.2
sentence-transformers==3.3.1
faiss-cpu==1.9.0
